@charset "UTF-8";
/**
  * 参考
  * スムーススクロール
 */
body {
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  background-color: #fafafa;
}

.inner {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .inner {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 28px;
    padding-right: 28px;
  }
}

.heading {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.heading__en {
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 3.8px;
}
@media screen and (min-width: 768px) {
  .heading__en {
    font-size: 50px;
    letter-spacing: 5px;
  }
}

.heading__ja {
  font-size: 14px;
  letter-spacing: 1.12px;
}
@media screen and (min-width: 768px) {
  .heading__ja {
    font-size: 16px;
    letter-spacing: 4.12px;
  }
}

.button {
  font-weight: 700;
  letter-spacing: 0.48px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 60px;
  border: 2px solid currentColor;
  background: #fff;
  color: #111;
  min-width: 150px;
  text-align: center;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.button:hover {
  background: #fabe00;
}
.button--type2 {
  background: #111;
  color: #fff;
}
.button--type2:hover {
  background: #fafafa;
  color: #111;
}

@media not screen and (min-width: 768px) {
  .hidden-sp {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hidden-pc {
    display: none;
  }
}

.inline-block {
  display: inline-block;
  font-weight: inherit;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 22px 15px;
}
@media screen and (min-width: 768px) {
  .header__inner {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 21px;
  }
}

.header__logo a img {
  width: 100px;
  display: block;
}
@media screen and (min-width: 768px) {
  .header__logo a img {
    width: 135px;
    padding-top: 8px;
  }
}

.header__nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
  }
}

.header__link {
  font-weight: 700;
  letter-spacing: 0.48px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.header__link:hover {
  color: #f5810e;
}
@media screen and (min-width: 768px) {
  .header__link {
    margin-top: 0;
  }
}

.header__open {
  margin-top: 3px;
}
@media screen and (min-width: 768px) {
  .header__open {
    display: none;
  }
}

.drawer-icon {
  width: 36px;
  height: 21px;
  position: relative;
  z-index: 51;
}
.drawer-icon.is-checked .drawer-icon__bar:nth-of-type(1) {
  top: 9px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}
.drawer-icon.is-checked .drawer-icon__bar:nth-of-type(2) {
  display: none;
}
.drawer-icon.is-checked .drawer-icon__bar:nth-of-type(3) {
  top: 9px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.drawer-icon__bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 3px;
  border-radius: 6px;
  background: #111;
  -webkit-transition: linear, top 0.3s, linear, -webkit-transform 0.3s;
  transition: linear, top 0.3s, linear, -webkit-transform 0.3s;
  transition: transform 0.3s, linear, top 0.3s, linear;
  transition: transform 0.3s, linear, top 0.3s, linear, -webkit-transform 0.3s;
}
.drawer-icon__bar:nth-of-type(1) {
  top: 0px;
}
.drawer-icon__bar:nth-of-type(2) {
  top: 9px;
}
.drawer-icon__bar:nth-of-type(3) {
  top: 18px;
}

.drawer-content {
  background: #f7ba1a;
  width: 320px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 50;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.drawer-content.is-checked {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.drawer-content__menu {
  padding: 86px 40px 40px;
}

.drawer-content__link {
  display: block;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: right;
  font-weight: 700;
  letter-spacing: 0.48px;
}

.drawer-content__button {
  margin-top: 14px;
  text-align: right;
}

.mv {
  border-radius: 20px;
  max-width: calc(100% - 30px);
  margin-left: auto;
  margin-right: auto;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8b819), to(#f0d320));
  background: linear-gradient(180deg, #f8b819 0%, #f0d320 100%);
}
@media screen and (min-width: 768px) {
  .mv {
    border-radius: 30px;
    max-width: calc(100% - 60px);
  }
}

.mv__inner {
  padding: 50px 22px 255px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .mv__inner {
    padding-top: 110px;
    padding-bottom: 109px;
    max-width: 1070px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 14px;
    padding-right: 0;
  }
}

.mv__lead1,
.mv__lead2 {
  -webkit-font-feature-settings: "palt" on;
          font-feature-settings: "palt" on;
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 2.3px;
  border-radius: 5px;
  background: #fff;
  padding: 10px;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .mv__lead1,
  .mv__lead2 {
    margin-left: 0;
    margin-right: 0;
    font-size: 38px;
    letter-spacing: 3.8px;
    padding: 12px 16px;
  }
}

.mv__lead2 {
  margin-top: 8px;
}
@media screen and (min-width: 768px) {
  .mv__lead2 {
    margin-top: 14px;
  }
}

.mv__description {
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.48px;
  margin-top: 26px;
}
@media screen and (min-width: 768px) {
  .mv__description {
    -moz-text-align-last: left;
         text-align-last: left;
    font-size: 18px;
    margin-top: 20px;
  }
}

.mv__button {
  margin-top: 22px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .mv__button {
    text-align: left;
    margin-top: 30px;
  }
}

.mv__img {
  position: absolute;
  right: 0;
  bottom: -108px;
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .mv__img {
    text-align: right;
    bottom: -88px;
    right: 30px;
    width: 54.5454545455%;
  }
}
.mv__img img {
  width: 345px;
}
@media screen and (min-width: 768px) {
  .mv__img img {
    width: 600px;
    height: 579px;
  }
}

.case {
  margin-top: 108px;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .case {
    margin-top: 88px;
    padding-top: 72px;
    padding-bottom: 50px;
  }
}

.case__inner {
  padding-left: 40px;
  padding-right: 40px;
}
@media screen and (min-width: 768px) {
  .case__inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}

.case__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.8px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .case__title {
    font-size: 20px;
    letter-spacing: 2px;
  }
}

.case__items {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 22px 15px;
}
@media screen and (min-width: 768px) {
  .case__items {
    margin-top: 54px;
    grid-template-columns: repeat(4, 1fr);
    gap: 26px 40px;
  }
}

.case__item {
  text-align: center;
}
.news {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .news {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.news__card {
  border-radius: 20px;
  background: #fff;
  -webkit-box-shadow: 0px 9px 30px 0px #f4f4f4;
          box-shadow: 0px 9px 30px 0px #f4f4f4;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 12px;
  padding-right: 12px;
}
@media screen and (min-width: 768px) {
  .news__card {
    border-radius: 30px;
    padding-top: 40px;
    padding-bottom: 34px;
    padding-left: 9.2105263158%;
    padding-right: 9.2105263158%;
  }
}

.news__title {
  text-align: center;
  font-size: 38px;
  font-weight: 700;
  line-height: 1; /* 38px */
  letter-spacing: 3.8px;
}
@media screen and (min-width: 768px) {
  .news__title {
    font-size: 50px;
    letter-spacing: 5px;
    text-align: left;
  }
}

.news__lists {
  margin-top: 28px;
}
@media screen and (min-width: 768px) {
  .news__lists {
    margin-top: 30px;
  }
}

.news__list {
  padding-top: 10px;
  padding-bottom: 10px;
}
.news__list:nth-child(n+2) {
  position: relative;
}
.news__list:nth-child(n+2)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #e3e3e3;
}

.news-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.news-link:hover {
  background-color: rgba(250, 190, 0, 0.1);
}
@media screen and (min-width: 768px) {
  .news-link {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 14px;
    padding-bottom: 10px;
    gap: 0;
  }
}

.news-link__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
@media screen and (min-width: 768px) {
  .news-link__meta {
    width: 247px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    gap: 14px;
  }
}

.news-link__date {
  color: #333;
  white-space: nowrap;
}
@media screen and (min-width: 768px) {
  .news-link__date {
    width: 119px;
  }
}

.news-link__label {
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  padding: 2px 10px;
  border-radius: 2px;
  background: #e4780c;
  min-width: 63px;
  text-align: center;
}
.news-link__label.news-link__label--news {
  background: #e4780c;
}
.news-link__label.news-link__label--colum {
  background: #ecb815;
}
.news-link__label.news-link__label--event {
  background: #389b47;
}

@media screen and (min-width: 768px) {
  .news-link-title {
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
  }
}

.news__link {
  text-align: right;
  margin-top: 22px;
}
.news__link a {
  font-weight: 700;
  line-height: 1; /* 16px */
  display: inline-block;
  border-bottom: 2px solid currentColor;
  padding-bottom: 8px;
  vertical-align: top;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.news__link a:hover {
  color: #fabe00;
}

.about {
  padding-top: 60px;
  padding-bottom: 60px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .about {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.about__title {
  text-align: center;
}
.about__title img {
  width: 180px;
}
@media screen and (min-width: 768px) {
  .about__title img {
    width: 230px;
  }
}

.about__content {
  margin-top: 150px;
  padding-top: 288px;
  padding-bottom: 105px;
  position: relative;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .about__content {
    margin-top: 176px;
    padding-top: 284px;
    padding-bottom: 100px;
  }
}
.about__content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 1100px;
  height: 1100px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8b819), to(#f0d320));
  background: linear-gradient(180deg, #f8b819 0%, #f0d320 100%);
  border-radius: 50%;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .about__content::before {
    width: 800px;
    height: 800px;
  }
}

.about__img {
  position: absolute;
  text-align: center;
  top: -110px;
  left: 0;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .about__img {
    top: -126px;
  }
}
.about__img img {
  width: 320px;
}
@media screen and (min-width: 768px) {
  .about__img img {
    width: 330px;
  }
}

.about__text {
  font-weight: 700;
  line-height: 2.3; /* 36.8px */
}

.about__pop {
  margin-top: 40px;
  font-weight: 700;
  line-height: 1; /* 16px */
  letter-spacing: 1.28px;
}
@media screen and (min-width: 768px) {
  .about__pop {
    margin-top: 42px;
  }
}

.about__button {
  margin-top: 12px;
}
@media screen and (min-width: 768px) {
  .about__button {
    margin-top: 15px;
  }
}
.movie {
  padding-top: 47px;
  padding-bottom: 60px;
  background: url(../img/section-bg.png) repeat top left/529px auto;
}
@media screen and (min-width: 768px) {
  .movie {
    padding-top: 130px;
    padding-bottom: 100px;
  }
}

.movie__inner {
  padding-left: 15px;
  padding-right: 15px;
}

.movie__title {
  text-align: center;
}

.movie__title-en {
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 3.8px;
}
@media screen and (min-width: 768px) {
  .movie__title-en {
    font-size: 50px;
    letter-spacing: 5px;
  }
}

.movie__title-ja {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  letter-spacing: 1.12px;
}
@media screen and (min-width: 768px) {
  .movie__title-ja {
    font-size: 16px;
    letter-spacing: 1.28px;
  }
}

.movie__iframe {
  margin-top: 21px;
}
@media screen and (min-width: 768px) {
  .movie__iframe {
    margin-top: 43px;
    text-align: center;
  }
}
.movie__iframe iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 345/194;
  vertical-align: top;
}
@media screen and (min-width: 768px) {
  .movie__iframe iframe {
    width: 640px;
    aspect-ratio: 640/360;
  }
}

.how-to-use {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .how-to-use {
    padding-top: 107px;
    padding-bottom: 100px;
  }
}

.how-to-user__title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 170%; /* 30.6px */
  letter-spacing: 1.8px;
}

.how-to-use__boxes {
  margin-top: 104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 127px;
}
@media screen and (min-width: 768px) {
  .how-to-use__boxes {
    gap: 0;
    margin-top: 0;
  }
}

.how-to-use__box {
  border-radius: 30px;
  background: #fffbf0;
  padding: 41px 40px 48px;
}
@media screen and (min-width: 768px) {
  .how-to-use__box {
    border-radius: 40px;
    padding: 35px 10px 56px;
    margin-top: 89px;
  }
}
@media screen and (min-width: 768px) {
  .how-to-use__box.is-type2 {
    margin-top: 88px;
  }
}

.how-to-use__title {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.8px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .how-to-use__title {
    font-size: 22px;
    letter-spacing: 2.2px;
    padding-right: 95px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
}
.how-to-use__title img {
  position: absolute;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  bottom: calc(100% + 16px);
  width: 85px;
}
@media screen and (min-width: 768px) {
  .how-to-use__title img {
    right: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .is-type2 .how-to-use__title {
    padding-left: 95px;
    padding-right: 0;
  }
  .is-type2 .how-to-use__title img {
    left: 0;
    right: auto;
  }
}

.how-to-use__steps {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .how-to-use__steps {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 24px;
    max-width: 948px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 38px;
  }
}

.how-to-use__step {
  position: relative;
}
@media screen and (min-width: 768px) {
  .how-to-use__step {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.step-box {
  padding-top: 45px;
  position: relative;
}

.step-box__head {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px solid #111;
  background: #f5810e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.is-type2 .step-box__head {
  background: #fabe00;
}

.step-box__head-text {
  color: #111;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1.3px;
  line-height: 1;
}

.step-box__head-number {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 3.4px;
  line-height: 1;
  margin-top: 3px;
}

.step-box__body {
  border-radius: 30px;
  border: 3px solid #111;
  background: #fff;
  overflow: hidden;
  padding: 50px 10px 19px;
  text-align: center;
}

.step-box__image img {
  width: 160px;
}
@media screen and (min-width: 768px) {
  .step-box__image img {
    width: 200px;
  }
}

.step-box__text {
  font-size: 16px;
  font-weight: 700;
  line-height: 170%;
  letter-spacing: 0.48px;
  margin-top: 10px;
}

.merit {
  padding-top: 47px;
  padding-bottom: 70px;
}
@media screen and (min-width: 768px) {
  .merit {
    padding-top: 76px;
    padding-bottom: 96px;
  }
}

.merit__boxes {
  margin-top: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .merit__boxes {
    margin-top: 46px;
    gap: 40px;
  }
}

.merit-box {
  border-radius: 20px;
  background: #fff;
  padding: 10px 20px 10px;
}
@media screen and (min-width: 768px) {
  .merit-box {
    padding: 20px 20px 20px;
  }
}

@media screen and (min-width: 768px) {
  .merit-box__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 50px;
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .is-reverse .merit-box__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.merit-box__image {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .merit-box__image {
    width: 38.0434782609%;
  }
}
.merit-box__image img {
  width: 200px;
}
@media screen and (min-width: 768px) {
  .merit-box__image img {
    width: 350px;
  }
}

.merit-box__body {
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .merit-box__body {
    width: 56.5217391304%;
    margin-top: 0;
  }
}

.merit-box__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
}
@media screen and (min-width: 768px) {
  .merit-box__head {
    gap: 28px;
  }
}

.merit-box__number {
  color: #fabe00;
  font-family: "Montserrat", sans-serif;
  font-size: 64px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .merit-box__number {
    font-size: 110px;
  }
}

.merit-box__title {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.6px;
}
@media screen and (min-width: 768px) {
  .merit-box__title {
    font-size: 20px;
    letter-spacing: 2px;
  }
}

.merit-box__text {
  margin-top: 0;
  font-size: 14px;
  line-height: 200%; /* 28px */
}
@media screen and (min-width: 768px) {
  .merit-box__text {
    margin-top: 16px;
    font-size: 15px;
  }
}

.cta {
  background: -webkit-gradient(linear, left top, left bottom, from(#f8b819), to(#f0d320));
  background: linear-gradient(180deg, #f8b819 0%, #f0d320 100%);
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .cta {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.cta__text {
  font-weight: 700;
  line-height: 200%; /* 32px */
  letter-spacing: 0.48px;
}
@media screen and (min-width: 768px) {
  .cta__text {
    font-size: 18px;
    letter-spacing: 0.54px;
  }
}

.cta__button {
  margin-top: 16px;
}

.compare {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #fff;
}
@media screen and (min-width: 768px) {
  .compare {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.compare__inner {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .compare__inner {
    margin-left: auto;
    margin-right: auto;
  }
}

.compare__title {
  color: #111;
  font-size: 20px;
  font-weight: 700;
  line-height: 100%; /* 20px */
  text-align: center;
}
@media screen and (min-width: 768px) {
  .compare__title {
    font-size: 24px;
  }
}

.compare__content {
  margin-top: 77px;
  padding-bottom: 37px;
  overflow-x: auto;
  scrollbar-color: #fabe00 #d9d9d9;
}
@media screen and (min-width: 768px) {
  .compare__content {
    margin-top: 60px;
    padding-bottom: 0;
  }
}

.compare__table {
  width: 620px;
  table-layout: fixed;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .compare__table {
    width: 1000px;
  }
}
.compare__table th,
.compare__table td {
  text-align: center;
  font-weight: 700;
  vertical-align: middle;
}
.compare__table th:nth-child(1),
.compare__table td:nth-child(1) {
  width: 130px;
}
@media screen and (min-width: 768px) {
  .compare__table th:nth-child(1),
  .compare__table td:nth-child(1) {
    width: 250px;
  }
}
.compare__table th:nth-child(2),
.compare__table td:nth-child(2) {
  width: 90px;
  background: #fff9e5;
  font-size: 16px;
  letter-spacing: 0.48px;
}
@media screen and (min-width: 768px) {
  .compare__table th:nth-child(2),
  .compare__table td:nth-child(2) {
    width: 250px;
    font-size: 25px;
    letter-spacing: 0.75px;
  }
}
.compare__table th:nth-child(2) img,
.compare__table td:nth-child(2) img {
  width: 70px;
}
@media screen and (min-width: 768px) {
  .compare__table th:nth-child(2) img,
  .compare__table td:nth-child(2) img {
    width: 123px;
  }
}
@media screen and (min-width: 768px) {
  .compare__table th,
  .compare__table td {
    height: 100px;
  }
}
.compare__table th {
  letter-spacing: 0.48px;
}
@media screen and (min-width: 768px) {
  .compare__table th {
    font-size: 20px;
    letter-spacing: 0.6px;
  }
}
.compare__table td {
  font-size: 14px;
  line-height: 170%; /* 23.8px */
  letter-spacing: 0.42px;
}
@media screen and (min-width: 768px) {
  .compare__table td {
    font-size: 16px;
    letter-spacing: 0.48px;
  }
}
.compare__table thead th {
  letter-spacing: 1.6px;
}
@media screen and (min-width: 768px) {
  .compare__table thead th {
    letter-spacing: 2px;
  }
}
.compare__table tbody tr {
  border-top: 1.5px solid #000;
}
@media screen and (min-width: 768px) {
  .compare__table tbody tr {
    border-top: 3px solid #000;
  }
}
.compare__table tbody th,
.compare__table tbody td {
  height: 58.5px;
}
@media screen and (min-width: 768px) {
  .compare__table tbody th,
  .compare__table tbody td {
    height: 100px;
  }
}

.compare__attention {
  margin-top: 11px;
  color: #686868;
  font-size: 14px;
  font-weight: 700;
  line-height: 100%; /* 14px */
  text-align: center;
}
@media screen and (min-width: 768px) {
  .compare__attention {
    display: none;
  }
}

.qa {
  padding-top: 47px;
  padding-bottom: 47px;
}
@media screen and (min-width: 768px) {
  .qa {
    padding-top: 89px;
    padding-bottom: 100px;
  }
}

.qa__inner {
  max-width: 860px;
}

.qa__boxes {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 42px;
}
@media screen and (min-width: 768px) {
  .qa__boxes {
    margin-top: 57px;
  }
}

.qa-box {
  border-radius: 10px;
  border: 3px solid #111;
  background: #fff;
}
.qa-box.is-open .qa-box__head::after {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.qa-box__head {
  padding: 32px 40px 16px 15px;
  position: relative;
  display: block;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .qa-box__head {
    padding: 32px 80px 16px 20px;
  }
}
.qa-box__head::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  width: 9.26px;
  height: 6.834px;
  background: url(../img/qa-arrow.png) no-repeat center center/contain;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
@media screen and (min-width: 768px) {
  .qa-box__head::after {
    right: 22px;
  }
}

.qa-box__head-icon {
  display: grid;
  place-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 100%;
  width: 44px;
  height: 44px;
  border-radius: 22px;
  border: 3px solid #111;
  background: #f5810e;
  position: absolute;
  top: -22px;
  left: 12px;
}
@media screen and (min-width: 768px) {
  .qa-box__head-icon {
    left: 20px;
  }
}

.qa-box__head-text {
  display: block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.12px;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .qa-box__head-text {
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 1.28px;
  }
}

.qa-box__body {
  padding: 10px 15px 18px;
  display: none;
}
@media screen and (min-width: 768px) {
  .qa-box__body {
    padding: 0 36px 14px 20px;
  }
}

.qa-box__a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .qa-box__a {
    gap: 10px;
  }
}

.qa-box__a-icon {
  display: grid;
  place-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 100%;
  width: 44px;
  height: 44px;
  border-radius: 22px;
  border: 3px solid #111;
  background: #fabe00;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.qa-box__a-text {
  display: block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.12px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 10px;
}
@media screen and (min-width: 768px) {
  .qa-box__a-text {
    font-size: 16px;
    line-height: 27px; /* 168.75% */
    letter-spacing: 1.28px;
  }
}

.gallery {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .gallery {
    padding-top: 84px;
    padding-bottom: 100px;
  }
}

.gallery__inner {
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (min-width: 768px) {
  .gallery__inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 860px;
  }
}

.gallery__slider {
  margin-top: 18px;
}
@media screen and (min-width: 768px) {
  .gallery__slider {
    margin-top: 45px;
  }
}

.gallery__swiper {
  padding-bottom: 26px;
  padding-left: 5px;
  padding-right: 5px;
}
@media screen and (min-width: 768px) {
  .gallery__swiper {
    padding-left: 100px;
    padding-right: 100px;
    margin-left: 0;
    margin-right: 0;
  }
}

.gallery-card {
  border-radius: 20px;
  border: 3px solid #111;
  background: #fff;
  -webkit-box-shadow: 0px 9px 30px 0px #f4f4f4;
          box-shadow: 0px 9px 30px 0px #f4f4f4;
  padding: 13px 13px 10px 13px;
}
@media screen and (min-width: 768px) {
  .gallery-card {
    border-radius: 30px;
    -webkit-box-shadow: 0px 9px 30px 0px #f4f4f4;
            box-shadow: 0px 9px 30px 0px #f4f4f4;
    padding: 17px 17px 15px;
  }
}

.gallery-card__image {
  text-align: center;
}
.gallery-card__image img {
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .gallery-card__image img {
    border-radius: 20px;
  }
}

.gallery-card__text {
  margin-top: 11px;
  text-align: center;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .gallery-card__text {
    margin-top: 18px;
    font-size: 16px;
  }
}

.gallery__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
  bottom: 0 !important;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin-left: 0 !important;
  margin-right: 0 !important;
  border-radius: 10px;
  background: #bcbcbc;
  opacity: 1;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #fabe00;
}

.gallery__prev,
.gallery__next {
  width: 40px;
  height: 40px;
  margin-top: -40px;
}
.gallery__prev::after,
.gallery__next::after {
  display: none;
}
@media screen and (min-width: 768px) {
  .gallery__prev,
  .gallery__next {
    width: 50px;
    height: 50px;
    margin-top: -62px;
  }
}

.gallery__prev {
  background: url(../img/prev-icon.png) no-repeat center center/100% auto;
  left: 0;
}
@media screen and (min-width: 768px) {
  .gallery__prev {
    left: 29px;
  }
}

.gallery__next {
  background: url(../img/next-icon.png) no-repeat center center/100% auto;
  right: 0;
}
@media screen and (min-width: 768px) {
  .gallery__next {
    right: 29px;
  }
}

.contact {
  padding-top: 60px;
  padding-bottom: 60px;
  background: url(../img/section-bg.png) repeat top left/529px auto;
}
@media screen and (min-width: 768px) {
  .contact {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.contact__box {
  border-radius: 30px;
  background: #fff;
  padding-top: 48px;
  padding-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 768px) {
  .contact__box {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.contact__form {
  margin-top: 21px;
}
@media screen and (min-width: 768px) {
  .contact__form {
    margin-top: 34px;
    max-width: 612px;
    margin-left: auto;
    margin-right: auto;
  }
}

.contact__fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

@media screen and (min-width: 768px) {
  .form-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 32px;
  }
}

.form-field__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .form-field__head {
    width: 180px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.form-field__label {
  font-weight: 700;
  line-height: 1.4375; /* 23px */
}

.form-field__tag {
  border-radius: 2px;
  background: #ee8013;
  display: inline-block;
  padding: 6px 7px 5px 9px;
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 1.98px;
}

.is-option {
  background-color: #389b47;
}

.form-field__item {
  margin-top: 15px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  /* 元のラジオボタンを非表示 */
}
@media screen and (min-width: 768px) {
  .form-field__item {
    margin-top: 0;
  }
}
.form-field__item [type=text],
.form-field__item [type=email],
.form-field__item select {
  width: 100%;
  border-radius: 5px;
  border: 3px solid #111;
  background: #fff;
  padding: 12px 13px 11px;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.form-field__item [type=text]:hover, .form-field__item [type=text]:focus,
.form-field__item [type=email]:hover,
.form-field__item [type=email]:focus,
.form-field__item select:hover,
.form-field__item select:focus {
  border-color: #fabe00;
  outline: none;
}
.form-field__item [type=radio] {
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.form-field__item [type=radio]:checked + .form-field__radio-text::after {
  opacity: 1;
}
.form-field__item [type=radio]:focus + .form-field__radio-text::before {
  border-color: #fabe00;
}
.form-field__item [type=radio]:hover + .form-field__radio-text::before {
  border-color: #fabe00;
}
.form-field__item select {
  border-radius: 5px;
  border: 3px solid #111;
  background: #fff;
  font-weight: 700;
  padding: 9px 13px 11px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("../img/select-arrow.png") no-repeat center right 16px/9.451px 6.969px;
}
.form-field__item textarea {
  border-radius: 5px;
  border: 3px solid #111;
  background: #fff;
  width: 100%;
  height: 180px;
  padding: 13px;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.form-field__item textarea:hover, .form-field__item textarea:focus {
  border-color: #fabe00;
  outline: none;
}

.form-field__radios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 13px;
}
@media screen and (min-width: 768px) {
  .form-field__radios {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 30px;
  }
}

.form-field__radio-text {
  font-weight: 700;
  padding-left: 28px;
  position: relative;
  line-height: 1.4375; /* 23px */
}
.form-field__radio-text::before, .form-field__radio-text::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
}
.form-field__radio-text::before {
  width: 24px;
  height: 24px;
  border: 3px solid #111;
  left: 0;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.form-field__radio-text::after {
  width: 10px;
  height: 10px;
  background: #f5810e;
  left: 7px;
  opacity: 0;
}

.contact__privacy {
  margin-top: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .contact__privacy {
    margin-top: 28px;
  }
}
.contact__privacy .form-checkbox {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.contact__privacy .form-checkbox:hover .form-checkbox__text::before {
  border-color: #fabe00;
}
@media screen and (min-width: 768px) {
  .contact__privacy .form-checkbox {
    text-align: center;
  }
}
.contact__privacy .form-checkbox__input {
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.contact__privacy .form-checkbox__input:focus + .form-checkbox__text::before {
  border-color: #fabe00;
}
.contact__privacy .form-checkbox__input:checked + .form-checkbox__text::after {
  opacity: 1;
}
.contact__privacy .form-checkbox__text {
  position: relative;
  padding-left: 33px;
  font-size: 14px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .contact__privacy .form-checkbox__text {
    padding-left: 30px;
  }
}
.contact__privacy .form-checkbox__text a {
  font-weight: inherit;
  text-decoration: underline;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.contact__privacy .form-checkbox__text a:hover {
  color: #fabe00;
}
.contact__privacy .form-checkbox__text::before,
.contact__privacy .form-checkbox__text::after {
  content: "";
  position: absolute;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.contact__privacy .form-checkbox__text::before {
  width: 20px;
  height: 20px;
  border-radius: 1px;
  border: 1px solid #111;
  margin-top: 14px;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
@media screen and (min-width: 768px) {
  .contact__privacy .form-checkbox__text::before {
    margin-top: 16px;
  }
}
.contact__privacy .form-checkbox__text::after {
  width: 23px;
  height: 17.53px;
  left: -1px;
  margin-top: 12.8px;
  background: url(../img/check-icon.png) no-repeat center center/contain;
  opacity: 0;
}
@media screen and (min-width: 768px) {
  .contact__privacy .form-checkbox__text::after {
    margin-top: 15px;
  }
}

.contact__button {
  margin-top: 30px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .contact__button {
    margin-top: 38px;
  }
}

.footer {
  background: #111;
  padding-top: 18px;
  padding-bottom: 18px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 10px;
    letter-spacing: 0.6px;
  }
}

.footer__copyright {
  color: #f5f5f5;
  font-size: 12px;
  letter-spacing: 0.96px;
}

.pagetop {
  position: fixed;
  right: 10px;
  bottom: 22px;
  width: min(13.3333333333%, 50px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}
.pagetop.is-show {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}
@media screen and (min-width: 768px) {
  .pagetop {
    right: 16px;
    bottom: 37px;
    width: 76px;
  }
}
.about-modal {
  position: fixed;
  inset: 0;
  margin: auto;
  max-width: calc(100% - 30px);
  max-height: calc(100% - 40px);
  overscroll-behavior-y: none;
  overflow: auto;
  padding: 16px 15px 64px;
  border: none;
  border-radius: 20px;
  background: #fff;
  z-index: 60;
  -webkit-animation: modalFadeIn 0.5s ease forwards;
          animation: modalFadeIn 0.5s ease forwards;
}
@media screen and (min-width: 768px) {
  .about-modal {
    max-width: 1140px;
    padding: 49px 70px 75px;
  }
}
.about-modal::-ms-backdrop {
  opacity: 0.2;
  background: #000;
}
.about-modal::backdrop {
  opacity: 0.2;
  background: #000;
}

.about-modal__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: sticky;
  top: 0;
}

.about-modal__close-icon img {
  width: 37px;
}

.about-modal__body {
  margin-top: 12px;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .about-modal__body {
    margin-top: 43px;
    font-size: 16px;
  }
}
.about-modal__body p:nth-child(n+2) {
  margin-top: 20px;
}

.about-modal__close-button {
  text-align: center;
  margin-top: 30px;
}

/* アニメーションの定義 */
@-webkit-keyframes modalFadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes modalFadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes modalFadeOut {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}
@keyframes modalFadeOut {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}